/*Variaveis*/

:root {
    --bg-color:#ebebeb;
    --input-placeholder:#d4d4d4;
    --input-bg:#5d160ea2;
    --texto-destaque:#FFFF;
    --marrom-destaque:#3b0702;
    --background-contato:#Eaf2fd;
}

/*Normalize*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Releway', sans-serif;
    background-color: var(--bg-color);
}

/*Padrão de projeto*/
textarea:focus, input:focus {
    box-shadow:0;
    border: 0, none;
    outline: 0;
}

input::placeholder{
    color:var(--input-placeholder);
    padding:2%;
}

textarea::placeholder{
    color:var(--input-placeholder);
    padding:2%;
}

a{
    text-decoration: none;
    color:var(--marrom-destaque);

}

button{
    cursor:pointer;
}

/*Header Geral*/
header{
    padding: 32.5px 154px;
    background-color: var(--texto-destaque);
}
nav{
    display: flex;
    align-items: center;
}

/*Divs do Header*/
.logo-busca{
    margin-left: 175px;
    width: 601px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    margin-left:-62px;

}
.logo img{
    height: 29.17px;
    width: 40.02px;
}
.logo p{
    font-size: 26px;
    font-weight: bolder;
}
.logo .logo-marrom{
    margin-left: 10px;
    color: var(--marrom-destaque);
}
.logo-busca input{
    margin-left: 10%;
    width: 393px;
    border-radius: 30px;
    padding: 1% 3%;
    border: none;
    background-color: var(--input-bg);
    background-image: url("assets/lupa.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 248px;

}
.login{
    width: 600px;
    display: flex;
    justify-content: end;
    
}
.login button{
    width: 182px;
    height: 51px;
    background: none;
    border: solid 1px var(--marrom-destaque);
    color: var(--marrom-destaque);
    text-transform: uppercase;
}


/*Banner Promocional*/
.destaque{
    height:352px;
    background-image: url("assets/choco5.png");    
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 60px;    
}
.banner{
    width: 751px;
    height: 320px;
    padding-left: 300px;
    flex-direction: column;
    justify-content: end;

}
.banner h1{
    color: var(--texto-destaque);
    font-size: 52px;
    font-weight: bold;
}
.banner h4{
    color: var(--texto-destaque);
    font-size: 22px;
    font-weight: bold;
}
.banner button{
    background-color: var(--marrom-destaque);
    border: none;
    color: var(--texto-destaque);
    height: 51px;
    width: 130px;
}

/*Sessão de produtos*/

.geral-prods{
    display: flex;
    flex-direction: column;
    width:1136px;
    margin: 0 auto;

}
 

/*Divs na Sessão produtos*/

.sessao-produtos{
    display: flex;
    height: 365px;
    width: 1136px;
    justify-content: space-between;
    margin-bottom: 64px;
}
.sessao-produtos-cacau{
    display: flex;
    height: 365px;
    width: 1136px;
    justify-content: space-between;
    margin-bottom: 148px;
}
.produto img{
    width:200px;
    padding: 3px;
}
.prod-titulo{
    display: flex;
    justify-content: space-between;   

}
.titulo{
font-size: 32px;
font-weight: bold;
}
.mostrar-mais{
    font-weight: bold;
    margin-top: 25px;
}

/*Form Contato*/
.contato{
    background-color: var(--background-contato);
    display: flex;
    height: 365px;
    justify-content: center;
    padding: 64px;
}
.referencia{
    display: flex;
    width: 200px;
    margin: 20px 30px 0 0;


}
.referencia img{
    width: 71px;  
    height: 42px;
}  



.referencia p{
    font-size: 26px;
    font-weight: bolder;
    color: var(--marrom-destaque);
    margin-top: 5px;
    margin-left: 6px;
}

.links-uteis{
    line-height: 48px;
width: 211px;
margin-right: 187px;

}
.form{
    display: flex;
    flex-direction: column;
    
}
.form p{
    
    font-weight: bold;
    padding-left: 250px;
    margin-bottom: 38px;
    color:var(--marrom-destaque);
}
.form input{
    width: 411px;
    padding: 4px;
    height: 43px;
    border: transparent;
    margin-bottom: 1px;
    color: var(--marrom-destaque);
  
}
form div + div {
    margin-top: 1em;
}
textarea{
    font-family: 'Releway', sans-serif;
    border: transparent;
    color: var(--marrom-destaque);
    line-height: 47px;
    max-width: 424px;
    width: 414px;
    margin-left: 3px;
            
    }
.form button{
    background-color: var(--marrom-destaque);
    border: none;
    color: var(--texto-destaque);
    height: 51px;
    width: 180px;
}
label {
   
    display: inline-block;
    width: 52px;
    text-align: right;
}

footer .linke {
    width: 30px;
    height: 25px;
  }
  
  footer {
    width: 100%;
    text-align: center;  
    bottom: 0;
    left: 0;
  }
